/* Legende */
.legend {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
    background-color: rgba(255, 255, 255, 0.7) !important;
    padding: 10px;
    max-height: 80vh;
    /* Maximale Höhe, die du für die Legende festlegen möchtest */
    overflow-y: auto;
}

.legend-title {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 12px;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}

.legend-icon {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 5px;
    border-radius: 3px;
}

.legend-text {
    color: #333;
    font-size: 12px;
}

/* +/- Buttons */
.legend-controls {
    text-align: center;
}

.control-button {
    padding: 5px 10px;
    font-size: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    margin: 0 5px;
}

/* Map */
#map {
    height: 98.35vh;
    width: 100%;
}

/* Reload-Button */
.overlay {
    position: fixed;
    bottom: 20px;
    left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.reload-button {
    padding: 10px 20px;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

.reload-button:hover,
.control-button:hover {
    background-color: #0056b3;
}

/* onClick Text */
.popup-title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

.popup-subtitle {
    font-size: 13px;
    color: #555;
}

.message {
    display: none;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    max-width: 80%;
    text-align: center;
    box-sizing: border-box;
    z-index: 10000;
    font-family: Arial, sans-serif;
}